.contact {
    width: 100%;
    height: 400px;
    background: #fff;
    background: #f0f0f3;
    margin: 5px;
}

.title {
    
    text-align: center;
}

.top {
    text-align: center;
    letter-spacing: 0.5px;
    transform: capitalize;
    font-size: 30px;

}
